<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="listProduct.css" />

    <style>
      .wrap__link {
        text-decoration: none;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="list-products">
      <h1>List Products</h1>
      <!-- <a class="add-new" href="/admin/addproducts">Add new product</a> -->
      <div class="wrap__products">
        <% data.forEach(function(product) { %>
        <div class="product">
          <a class="wrap__link" href="./product-detail/<%- product.id %>">
            <img src="/upload/<%- product.avatar %>" alt="" />
            <div class="product-name"><%- product.prod_name %></div>
          </a>
        </div>
        <%}); %>
      </div>
    </div>
  </body>
</html>
