<!DOCTYPE html>
<html>

    <head>
        <title>CBook | Diễn đàn Đánh giá và Mua Bán sách</title>
        <meta charset="utf-8">
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon"  type="image/x-icon" href="images/icon-page.png">
        <link href="/CBook2/fontawesome-css/css/all.css" rel="stylesheet">
        
        <link rel="stylesheet" href="web.css">
    
    
    </head>


    <body>

        <div class="container">


            <div class="container_nav">
                <div class="container_nav_bar">
                    
                    <div class="container_nav_bar_left">
                        <div class="header-mobile">
                            <i class="mobile-bar fa-solid fa-bars"></i>
                            <i class="header-mobile-x fa-solid fa-x"></i>
                        </div>

                        <div class="logo">
                            <a href="index.html">
                                <img src="images/fresh (1535 × 52 px) (150 × 52 px) (3).png" alt="">
                            </a>
                        </div>

                        <div class="search">

                           <input type="text" placeholder="Tìm sách...">

                           <div class="sub-search">
                               <ul class="ul-sub-search">

                           </div>

                           </ul>
                        </div>

                        <div class="div_btn_search">  
                                <button></button>    
                        </div>
                        
                    </div>

                    <div class="container_nav_bar_right">
                        
                        <div class="div_dangnhap_dangky">
                            <ul>
                                <li class="dangnhap">
                                    <a href="/login">Đăng nhập</a>
                               
                               
                                
                                
                      
                                
                                
                            </li>
                                <li class="dangky">
                                    <a href="dangky.html">Đăng ký</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="nav-main-menu">
                <div class="search" >
                    <input type="search-mobile" placeholder="Tìm sách...">
                    <div class="sub-search sub-search-mobile">
                        <ul class="ul-sub-search ul-sub-search-mobile">

                    </div>
                 </div>
                 <div class="div_btn_search">  
                    <button></button>    
            </div>
                <ul class="nav-main-menu-ul">
                    <li id="trangchu">
                        <a href="index.html" style="color: #01a14b;">
                           
                           Trang chủ
                            <!-- <i class="home-icon fa-solid fa-house-chimney"></i> -->
                        </a>
                    </li>
                    
                    <li class="li" >
                        <a href="#01">Hot</a>
                    </li>
                    
                    <li class="li" >
                        <a href="#02">Theo dõi </a>
                    </li>

                    <li class="li" >
                        <a href="collections/all.html">
                            Thể loại
                            <i class="angel-down fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <div class="sub-menu-div">

                                    <div class="sub-menu-column">
                                        <ul>
                                            <li>
                                                <a href="">
                                                    <strong>

                                                        Tiểu thuyết
                                                    </strong>
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    Chính trị
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    <strong>

                                                        Kinh tế
                                                    </strong>
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    Văn hóa xã hội
                                                </a>
                                            </li>
                                        </ul>
                                    </div>  


                                    <div class="sub-menu-column">
                                        <ul>
                                            <li>
                                                <a href="">
                                                    Văn học nghệ thuật
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    Giáo trình
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    <strong>

                                                        Tâm lý
                                                    </strong>
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    Sách thiếu nhi
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="sub-menu-column">
                                        <ul>
                                            <li>
                                                <a href="">
                                                    Khoa học công nghệ
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                         

                                                        Lịch Sử
                                              
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    Hồi kí
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <strong>

                                                        Tự lực
                                                    </strong>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                
                                </div>
                            </li>
                            

                        </ul>
                    </li>




                    <li class="li" >
                        <a href="">
                            Xếp hạng
                            <i class="angel-down fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu" style="width: 135px;">
                            <li>
                                <div class="sub-menu-div">

                                    <div class="sub-menu-column">
                                        <ul>
                                            <li>
                                                <a href="">
                                                    <strong>

                                                        Top Bán Chạy
                                                    </strong>
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                        Top Trending
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    <strong>

                                                        Top Yêu Thích
                                                    </strong>
                                                </a>
                                            </li>
                
                                            <li>
                                                <a href="">
                                                    Top Đánh Giá
                                                </a>
                                            </li>
                                        </ul>
                                    </div>  


                                    

                                
                                </div>
                            </li>
                            

                        </ul>
                    </li>

                    <li class="li" >
                        <a href="contact.html">Liên hệ </a>
                    </li>

                    <li class="li">
                        <a href="">
                            
                            <i class="cart fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>

                    <!-- <li>
                        <a href=""></a>
                    </li>

                    <li>
                        <a href=""></a>
                    </li>  -->
                </ul>
            </div>

            <div class="banner">
                <button class="banner-pre" href="" >
                                    
                    <i class="angle-left fa-solid fa-angle-left"></i>
                </button>

                <button class="banner-after" href="" >

                    <i class="angle-right fa-solid fa-angle-right"></i>
                </button>
                <ul class="banner-slider">
                    <li class="banner-slider-item">
                        <img src="images/banner2.png" alt="" class="slider-img">
                    </li>
                    <li class="banner-slider-item">
                        <img src="images/banner3.png" alt="" class="slider-img">
                    </li>
                    <li class="banner-slider-item">
                        <img src="images/banner2.png" alt="" class="slider-img">
                    </li>
                    <li class="banner-slider-item">
                        <img src="images/banner3.png" alt="" class="slider-img 4">
                    </li>
                    
                </ul>
               
            </div>
            <div class="content">
                

                <div class="new-book">
                    <div class="new-book-list">
                        <h1>Sách mới cập nhật</h1>
                        <div class="new-book-list-items">

                            <div class="item">
                                <div class="on-sale">
                                    <span>-20%</span>
                                </div>
                                <figure>
                                   
                                    <div class="item-image">
                                        
                                        <a href="product-nha-gia-kim.html">
                                            <img src="images/tall-nha-gia-kim.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                16.5k 
                                                <i class="fa-solid fa-comment"></i>
                                                6.8k
                                                <i class="fa-solid fa-heart"></i>
                                                7.5k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="product-nha-gia-kim.html">
                                            <h3>
                                                Nhà giả kim - Paulo Coelho
                                            </h3>

                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                50.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-20%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-dac-nhan-tam.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                33.1k 
                                                <i class="fa-solid fa-comment"></i>
                                                8.9k
                                                <i class="fa-solid fa-heart"></i>
                                                13.7k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Đắc nhân tâm - Dale Carnegie
                                            </h3>
    
                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                55.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-15%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-dam-bi-ghet.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                2.1k 
                                                <i class="fa-solid fa-comment"></i>
                                                689
                                                <i class="fa-solid fa-heart"></i>
                                                808
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Dám bị ghét - Koga Fumitake & Kishimi Ichiro
                                            </h3>
    
                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                71.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-15%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-dam-hanh-phuc.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                310 
                                                <i class="fa-solid fa-comment"></i>
                                                110
                                                <i class="fa-solid fa-heart"></i>
                                                82
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Dám hạnh phúc - Koga Fumitake & Kishimi Ichiro
                                            </h3>
    
                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                81.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>
                            
                            <div class="item">
                                <div class="on-sale">
                                    <span>-10%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-thien-tai-ben-trai-ke-dien-ben-phai.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                11.4k
                                                <i class="fa-solid fa-comment"></i>
                                                2.7k
                                                <i class="fa-solid fa-heart"></i>
                                                5.3k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Thiên tài bên trái kẻ điên bên phải - Cao Minh
                                            </h3>

                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                127.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-15%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-tuoi-tre-dang-gia-bao-nhieu.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                10k 
                                                <i class="fa-solid fa-comment"></i>
                                                2.6k
                                                <i class="fa-solid fa-heart"></i>
                                                5.1k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Tuổi trẻ đáng giá bao nhiêu - Rosie Nguyễn
                                            </h3>
    
                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                64.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-5%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-thao-tung-tam-ly.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                3.4k 
                                                <i class="fa-solid fa-comment"></i>
                                                989
                                                <i class="fa-solid fa-heart"></i>
                                                1.2k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Thao túng tâm lý - Shannon Thomas, LCSW
                                            </h3>
    
                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                113.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-15%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-kheo-an-noi-se-co-duoc-thien-ha.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                7.5k 
                                                <i class="fa-solid fa-comment"></i>
                                                1.8k
                                                <i class="fa-solid fa-heart"></i>
                                                2.5k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Khéo ăn nói sẽ có được thiên hạ - Trác Nhã
                                            </h3>
    
                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                81.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-15%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-mot-thoang-ta-ruc-ro-o-nhan-gian.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                16.5k 
                                                <i class="fa-solid fa-comment"></i>
                                                6.8k
                                                <i class="fa-solid fa-heart"></i>
                                                7.5k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Một thoáng ta rực rỡ ở nhân gian - Ocean Vương

                                            </h3>

                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                50.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="item">
                                <div class="on-sale">
                                    <span>-15%</span>
                                </div>
                                <figure>
                                    <div class="item-image">
                                        <a href="">
                                            <img src="images/tall-nhung-tu-nhan-cua-dia-ly.png" alt="">
                                        </a>
                                        
                                        <div class="purchases">
                                            <span>
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                16.5k 
                                                <i class="fa-solid fa-comment"></i>
                                                6.8k
                                                <i class="fa-solid fa-heart"></i>
                                                7.5k
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <figcaption class="item-image-caption">
                                        <a href="">
                                            <h3>
                                                Những tù nhân của địa lý - Tim Marshall
                                            </h3>

                                        </a>
                                        <h5>
                                            <div class="price">
                                                
                                                <i class="fa-solid fa-dong-sign"></i>
                                        
                                                50.000
                                            </div>
                                            <div class="star">
                                                
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                                <i class=" fa-solid fa-star"></i>
                                            </div>
                                            
                                        </h5>
                                    </figcaption>
                                </figure>
                            </div>

                        </div>


                        <div class="button-xemthem">
                            <a href="collections/all.html">XEM THÊM</a>
                        </div>
                     
                        
                    </div>

                    <!-- <div class="div-right">
                        
                        <div class="history-top-book">
                            <div class="history-top-book-tittle">
                                <h1>Lịch sử đọc sách</h1>
                                <a href="">Xem tất cả</a>
    
                            </div>

                            <div class="history-top-book-items">
                                <div class="history-top-book-item-image">
                                    <a href="">
                                        <img src="images/Item-nha-gia-kim.jpg" alt="">
                                    </a>
                                </div>
                                <div class="history-top-book-item-caption">
                                    <h3>
                                        <a href="">
                                            
                                            Nhà giả kim - Paulo Coelho
                                        </a>
                                    </h3>
                                    <span>

                                
                                                
                                                <a href="">
                                                    <div class="history-top-book-item-caption-xoa">
                                                        <i class="fa-sharp fa-solid fa-xmark"></i>
                                                        Xóa
                                                        
                                                    </div>
                                                </a>
                                     
                                    </span>
                                </div>
                            </div>

                        </div>


                        <div class="top-like-book">
                            <h1>Top Yêu Thích</h1>
                            <div class="top-like-book-list">
                                <ul>
                                    <li class="top-like-book-list-item">
                                        <span class="span1">
                                            01
                                        </span>
                                        <div class="top-like-book-list-item-div">
                                            
                                            <div class="top-like-book-list-item-div-image">
                                                <a href="">
                                                    <img src="images/item-dac-nhan-tam.png" alt="">
                                                </a>
                                            </div>

                                            <div class="top-like-book-list-item-div-caption">
                                                <h3>
                                                    <a href="">
                                                        
                                                        Đắc nhân tâm - Dale Carnegie
                                                    </a>
                                                </h3>

                                                <span>
                                                    <div class="top-like-book-list-item-div-caption-like">
                                                                  
                                                        <i class="fa-solid fa-heart"></i>
                                                            13.703k
                                                                    
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </li>         
       
                                    <li class="top-like-book-list-item">
                                        <span class="span1">
                                            02
                                        </span>
                                        <div class="top-like-book-list-item-div">
                                            
                                            <div class="top-like-book-list-item-div-image">
                                                <a href="">
                                                    <img src="images/Item-nha-gia-kim.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="top-like-book-list-item-div-caption">
                                                <h3>
                                                    <a href="">
                                                        
                                                        Nhà giả kim - Paulo Coelho
                                                    </a>
                                                </h3>

                                                <span>
                                                    <div class="top-like-book-list-item-div-caption-like">
                                                                  
                                                        <i class="fa-solid fa-heart"></i>
                                                            7.518k
                                                                    
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="top-like-book-list-item">
                                        <span class="span1">
                                            03
                                        </span>
                                        <div class="top-like-book-list-item-div">
                                            
                                            <div class="top-like-book-list-item-div-image">
                                                <a href="">
                                                    <img src="images/item-thien-tai-ben-trai-ke-dien-ben-phai.png" alt="">
                                                </a>
                                            </div>

                                            <div class="top-like-book-list-item-div-caption">
                                                <h3>
                                                    <a href="">
                                                        
                                                        Thiên tài bên trái kẻ điên bên phải - Cao Minh

                                                    </a>
                                                </h3>

                                                <span>
                                                    <div class="top-like-book-list-item-div-caption-like">
                                                                  
                                                        <i class="fa-solid fa-heart"></i>
                                                            5.388k
                                                                    
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="top-like-book-list-item">
                                        <span class="span1">
                                            04
                                        </span>
                                        <div class="top-like-book-list-item-div">
                                            
                                            <div class="top-like-book-list-item-div-image">
                                                <a href="">
                                                    <img src="images/item-tuoi-tre-dang-gia-bao-nhieu.png" alt="">
                                                </a>
                                            </div>

                                            <div class="top-like-book-list-item-div-caption">
                                                <h3>
                                                    <a href="">
                                                        
                                                        Tuổi trẻ đáng giá bao nhiêu - Rosie Nguyễn
                                                    </a>
                                                </h3>

                                                <span>
                                                    <div class="top-like-book-list-item-div-caption-like">
                                                                  
                                                        <i class="fa-solid fa-heart"></i>
                                                            5.519k
                                                                    
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="top-like-book-list-item">
                                        <span class="span1">
                                            05
                                        </span>
                                        <div class="top-like-book-list-item-div">
                                            
                                            <div class="top-like-book-list-item-div-image">
                                                <a href="">
                                                    <img src="images/item-kheo-an-noi-se-co-duoc-thien-ha.png" alt="">
                                                </a>
                                            </div>

                                            <div class="top-like-book-list-item-div-caption">
                                                <h3>
                                                    <a href="">
                                                        
                                                        Khéo ăn nói sẽ có được thiên hạ - Trác Nhã
                                                    </a>
                                                </h3>

                                                <span>
                                                    <div class="top-like-book-list-item-div-caption-like">
                                                                  
                                                        <i class="fa-solid fa-heart"></i>
                                                            2.561k
                                                                    
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>


                    </div> -->
                </div>
                

                <div class="sach-gioi-han">
                    <h1>Ấn bản giới hạn</h1>
                    <!-- <div class="sach-de-cu-list">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="images/item-thao-tung-tam-ly.png" alt="">
                                </a>
                                <div class="caption">
                                    <h3>
                                        <a href="">

                                            Thao túng tâm lý - Shannon Thomas, LCSW
                                        </a>
                                    </h3>
                                    <span>
                                        <i class="fa-solid fa-heart"></i>
                                        1.2k
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/item-thao-tung-tam-ly.png" alt="">
                                </a>
                                <div class="caption">
                                    <h3>
                                        <a href="">

                                            Thao túng tâm lý - Shannon Thomas, LCSW
                                        </a>
                                    </h3>
                                    <span>
                                        <i class="fa-solid fa-heart"></i>
                                        1.2k
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/item-thao-tung-tam-ly.png" alt="">
                                </a>
                                <div class="caption">
                                    <h3>
                                        <a href="">

                                            Thao túng tâm lý - Shannon Thomas, LCSW
                                        </a>
                                    </h3>
                                    <span>
                                        <i class="fa-solid fa-heart"></i>
                                        1.2k
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/item-thao-tung-tam-ly.png" alt="">
                                </a>
                                <div class="caption">
                                    <h3>
                                        <a href="">

                                            Thao túng tâm lý - Shannon Thomas, LCSW
                                        </a>
                                    </h3>
                                    <span>
                                        <i class="fa-solid fa-heart"></i>
                                        1.2k
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/item-thao-tung-tam-ly.png" alt="">
                                </a>
                                <div class="caption">
                                    <h3>
                                        <a href="">

                                            Thao túng tâm lý - Shannon Thomas, LCSW
                                        </a>
                                    </h3>
                                    <span>
                                        <i class="fa-solid fa-heart"></i>
                                        1.2k
                                    </span>
                                </div>
                            </li>
                            <a class="pre" href="">
                                
                                <i class="angle-left fa-solid fa-angle-left"></i>
                            </a>

                            <a class="after" href="">

                                <i class="angle-right fa-solid fa-angle-right"></i>
                            </a>
                        </ul>

                 
                    </div> -->


                    <ul class="sach-gioi-han-list">
                        <div class="sach-gioi-han-animation">
                            
                            <div id="animation1" class="animation">
                                <div class="tamgiac1"></div>
                                <div class="tamgiac2"></div>
                            </div>
    
                            <div id="animation2" class="animation">
                                <div class="tamgiac1"></div>
                                <div class="tamgiac2"></div>
                            </div>
                        </div>
                        
                        <li class="sach-gioi-han-items">
                            <div class="sach-gioi-han-items-item">
                              
                                <a href="">
                                    <img src="images/limit-ong-gia-va-bien-ca.png" alt="">
    
                                </a>
                            </div>
                        </li>
                        <li id="sach-gioi-han-items2" class="sach-gioi-han-items">
                            
                            <div id="sach-gioi-han-items-item2" class="sach-gioi-han-items-item">
                                
                                <a href="">
                                    <img src="images/limit-gat.png" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
            
            <div class="footer">
                <div class="footer-container">
                    <div class="thong-tin">
                        <img class="footer-logo" src="images/fresh (1535 × 52 px) (150 × 52 px) (3).png" alt="">
                        <p class="thong-tin-lien-he">
                            <i style="max-height: 24px; padding-left: 13px; padding-right: 13px;"  class="icon-footer fa-solid fa-location-dot"></i>
                            <span class="contact-text">
                                362 Hoàng Diệu, Hải Châu, Đà Nẵng 550000
                            </span>
                        </p>
                        <p class="thong-tin-lien-he">
                            <i class="icon-footer fa-solid fa-phone"></i>
                            <span class="contact-text">Hotline: 03 5997 3209</span>
                        </p>
                        <p class="thong-tin-lien-he">
                            <i class="icon-footer fa-regular fa-envelope"></i>
                            <span class="contact-text">Email: cbookcdio@gmail.com</span>
                        </p>
                        <p class="thong-tin-lien-he">
                            <i class="icon-footer fa-sharp fa-solid fa-shield-halved"></i>
                            <span class="contact-text">Giấy phép DKKD</span>
                        </p>
                   
                    </div>

                    <div class="thong-tin-center">
                        <div class="row-1">
                            <div class="row-1-col-1">
                         
                                <h4>HỖ TRỢ KHÁCH HÀNG</h4>

                                <ul>
                                    <li>
                                        <a href="">
                                            Câu hỏi thường gặp
                                            
                                        </a>

                                    </li>
                                    <li>
                                        <a href="">
                                            Điều khoản dịch vụ
                                            
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="row-1-col-2">
                      
                                    <h4>CHÍNH SÁCH</h4>
                                    
                                <ul >
                                    <li>
                                        <a href="">
                                           Chính sách bảo mật
                                            
                                        </a>

                                    </li>
                                    <li>
                                        <a href="">
                                            Chính sách thanh toán
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Chính sách vận chuyển
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Chính sách đổi trả
                                            
                                        </a>
                                    </li>
                                </ul>
                               
                               
                                
                            </div>
                        </div>
                        <div class="row-2">
                            <h4>ĐĂNG KÝ NHẬN TIN</h4>
                            <p>Hãy nhập email của bạn vào ô dưới đây để có thể nhận được tất cả tin tức mới nhất của CBook</p>
                            
                            <div class="footer-dangky">
                                <div class="footer-input">
                                    <input type="email" placeholder="Nhập email của bạn...">
                                    <button type="submit">Đăng ký</button>
    
                                </div>
                                <img class="bct-img" src="images/bct_img.png" alt="">

                            </div>

                        </div>
                    </div>

                    <div class="ket-noi">
                        <h4 style="margin-bottom: 19.950px;">KẾT NỐI VỚI CHÚNG TÔI</h4>
                        <div class="footer-img-div">
                            <img class="footer-img" src="images/banner.png" alt="">
                            <button class="btn-fb-img">
                                <a href="">
                                    <i class="fb-img fa-brands fa-facebook-f"></i>
                                    <h5>Theo dõi trang</h5>
                                </a>
                            </button>
                            <img class="logo-img" src="images/logo-sat-phai.png" alt="">
                        </div>
                        <h4 style="margin-top: 35px;">CÁC KÊNH KHÁC</h4>
                        <i class="fb fa-brands fa-facebook-f"></i>
                        <i class="twt fa-brands fa-twitter"></i>
                        <i class="ytb fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
          

        </div>

        <div class="mp-menu">
            <ul>
                <li>
                    <a href="">
                        Trang chủ
                    </a>
                </li>
                <li>
                    <a href="">
                        Hot
                    </a>
                </li>
                <li>
                    <a href="">
                        Theo dõi
                    </a>
                </li>
                <li>
                    <a href="collections/all.html">
                        Thể loại
                        <i class="angel-down fa-solid fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        Xếp hạng
                        <i class="angel-down fa-solid fa-angle-down"></i>
                    </a>
                </li>
            </ul>
        </div>

        <a href="#" class="scroll-to-top"> 
            <i class="fa fa-chevron-up"></i>
        </a>

        <div class="hot-line">
            <a class="hot-line-btn" href="tel: 03 5997 3209">
                <i class="fa-solid fa-phone"></i>
                
            </a>
            <div class="text-quotes">
                <a href="tel: 03 5997 3209">03 5997 3209</a>
            </div>
        </div>

        <div class="mess">
            <a class="mess-btn" href="http://m.me/100010061262032" target="_blank">
                <i class="fa-brands fa-facebook-messenger"></i>
                
            </a>
        </div>

       
      
    </body>
    <!-- <script src="main.js"></script> -->
        

</html>
