html,body,#root{
    height: 100%;
  }
  .wrapContent {
    margin-top: 100px;
    width: 82%;
    height: 500px;
    border-radius: 10px;
    max-width: 450px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    height: 93%;
    background: #ebebeb;
    // background-image: url("../../../images/backgroundAcer.png");
  }
  
  .confirmationForm {
    // float: right;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    // left: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    border-radius: 10px;
    // padding: 20px;
    h2{
      margin-top: 50px;
      margin-bottom: 50px;
      font-style: italic;
  
    }
  }
  
  .confirmationForm .input {
    width: 82%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid gray;
  }
  input:-webkit-autofill { 
    -webkit-box-shadow:200px 200px 100px white inset; 
    box-shadow:200px 200px 100px white inset; 
  }
  
  .btnSendMail {
    background-color: rgb(100, 100, 100);
    color: white;
    width: 414px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
  }

  .wrap-err-mess{
    display: flex;
    width: 414px;
    text-align: center;
    .err-mess{
      color: red;
      margin: 0 0 10px 0;
    }
    span {
      a{
        color: #328eff;
        font-style: italic;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }

    